<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="enviarCorreo()" color="primary">
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item *ngIf="dataLocalSrv.registros.length === 0">
    <ion-label>No data registered.</ion-label>
  </ion-item>

  <ion-item detail *ngFor="let registro of dataLocalSrv.registros" (click)="abrirRegistro(registro)">
    <ion-icon slot="start" color="primary" name={{registro.icon}}></ion-icon>
    <ion-label>
      <h2>{{registro.text}}</h2>
      <p>{{registro.created | date: 'medium'}}</p>
    </ion-label>
  </ion-item>

</ion-content>